*.la
*.o
*.lo
*Makefile.in
*Makefile
*.deps
*.libs
*.swp
config\.*
configure
autom4te.cache/
depcomp
install-sh
aclocal.m4
libtool
ltmain.sh
missing
stamp-h1
libprotoident-2.0.8/tools/arff/lpi_arff
libprotoident-2.0.8/tools/find_unknown/lpi_find_unknown
libprotoident-2.0.8/tools/protoident/lpi_protoident
